<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.15">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.15">
    <script>def scaleUp(){
    echo &quot;Scaling Up&quot;
    node(&apos;master&apos;){
        echo &quot;in master&quot;
        sh &apos;kubectl --server=http://$KMASTER:8080 get deployment jenkins-swarm-client -o json | jq \&apos;.spec.replicas+1\&apos;|xargs -I \&apos;{}\&apos; kubectl --server=http://$KMASTER:8080 scale deployment jenkins-swarm-client --replicas=\&apos;{}\&apos;&apos;
        sh &apos;kubectl --server=http://$KMASTER:8080 get deployment jenkins-swarm-client&apos;
    }
}

def scaleDown(){
    echo &quot;Scaling Down&quot;
    node(&apos;master&apos;){
        sh &apos;kubectl --server=http://$KMASTER:8080 get deployment jenkins-swarm-client -o json | jq \&apos;.spec.replicas-1\&apos;|xargs -I \&apos;{}\&apos; kubectl --server=http://$KMASTER:8080 scale deployment jenkins-swarm-client --replicas=\&apos;{}\&apos;&apos;
        sh &apos;kubectl --server=http://$KMASTER:8080 get deployment jenkins-swarm-client&apos;
    }
}

def MAX_NODES = 10
def MIN_NODES = 1
def totalIdle = 0
def totalBusy = 0
stage &apos;Check Slaves&apos;
for (node in Jenkins.instance.nodes) {
    def countIdle = node.toComputer().countIdle()
    def countBusy = node.toComputer().countBusy()
    echo &quot;Node: $node.name, Busy: $countBusy, Idle: $countIdle&quot;
    totalIdle += countIdle
    totalBusy += countBusy
}
//if there&apos;s no idle executors then scale up
if(totalIdle == 0 &amp;&amp; Jenkins.instance.nodes.size() &lt; MAX_NODES){
    stage &apos;Scaling Up&apos;
    scaleUp()
}
//if there&apos;s no busy executors then scale down
else if(totalBusy == 0 &amp;&amp; Jenkins.instance.nodes.size() &gt; MIN_NODES){
    stage &apos;Scaling Down&apos;
    scaleDown()
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>* * * * *
</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
</flow-definition>
