<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.11">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.11">
    <script>@NonCPS
def script(){
Jenkins.instance.nodes.each{slave-&gt;
    def nodename = slave.name
    echo &quot;running node $nodename&quot;
    node(nodename) {
        sh &apos;uptime&apos;
        sh &apos;docker version&apos;
        // sh &apos;docker images -q | xargs docker rmi || true&apos;
        sh &apos;docker pull ubuntu:14.04&apos;
    }
}
}

script()</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>