<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1.12">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@1.12">
    <script>for (computer in Jenkins.instance.computers) {
    def countIdle = computer.countIdle()
    def countBusy = computer.countBusy()
  	def isOffline = computer.isOffline()
    println &quot;Computer: $computer.name, Busy: $countBusy, Idle: $countIdle, isOffline: $isOffline&quot;
    if(isOffline){
        println &quot;Deleting $computer.name&quot;
        computer.doDoDelete()
    }
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@hourly</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
</flow-definition>